{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}">
{% endblock %}

{% block extrahead %}
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(event) {
  var formLink = document.getElementById("updateFormLink");
  if (formLink) {
    formLink.addEventListener("click", function(event) {
        var href = this.href;
        var date = prompt("Date de retour des formulaires : ", "?.9.2018");
        this.href = href + "?date=" + date;
    });
  }
});
</script>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

  <ul id="main">
    <li><b><a href="{% url 'corporations' %}">Liste des institutions</a></b></li>
    <li><b><a href="{% url 'classes' %}">Liste des classes</a></b></li>
  </ul>

{% if app_list %}
    {% for app in app_list %}
        <div class="module">
        <table>
        <caption>
            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">
                {% blocktrans with name=app.name %}{{ name }}{% endblocktrans %}
            </a>
        </caption>
        {% for model in app.models %}
            <tr>
            {% if model.admin_url %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">

    {% if perms.stages.change_training %}
    <div class="module" id="custom-actions-module">
    <h2>Pratique professionnelle</h2>
    <ul>
      <li><a href="{% url 'attribution' %}">Organisation de la pratique professionnelle</a></li>
    </ul>
    <ul>
        <li style="margin-top: 1em;"><a href="{% url 'stages_export' %}">Exporter les données de pratique professionnelle</a> (récentes)</li>
        <li><a href="{% url 'stages_export' 'all' %}">Exporter les données de pratique professionnelle</a> (toutes)</li>
    </ul>
    </div>
    {% endif %}

    {% if perms.stages.change_student %}
    <div class="module" id="custom-actions-module">
    <h2>Importation/exportation</h2>
    <ul>
        <li><a href="{% url 'import-students' %}">Importer un fichier d'étudiants EPC</a></li>
        <li><a href="{% url 'import-students-ester' %}">Importer un fichier d'étudiants ESTER</a></li>
        <li><a href="{% url 'import-hp' %}">Importer le fichier HP</a></li>
        <!--li><a href="{ url 'import-hp-contacts' }">Importer les formateurs (fichier HP)</a></li-->
        <li style="margin-top: 0.7em;"><a href="{% url 'imputations_export' %}">Exporter les données comptables</a></li>
        <li><a href="{% url 'export_sap' %}">Exporter les données SAP</a></li>
        <!--li><a id="updateFormLink" href="{ url 'print_update_form' }">Imprimer les formulaires de MAJ</a></li-->
        <!--li><a href="{ url 'print-klass-list' }">Imprimer les rôles de classes</a></li-->
        <li><a href="{% url 'general-export' %}">Exportation générale des élèves</a></li>
        <li><a href="{% url 'export-qualif' 'ede' %}">Exportation qualif. EDE</a></li>
        <li><a href="{% url 'export-qualif' 'eds' %}">Exportation qualif. EDS</a></li>
        <!--li><a href="{ url 'ortra-export' }">Exportation pour ORTRA</a></li-->
    </ul>
    </div>
    {% endif %}
</div>
{% endblock %}

