{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'classes' %}">Liste des classes</a>
</div>
{% endblock %}

{% block content %}
<h2>Classe {{ klass.name }}
{% if perms.stages.change_klass %}<a class="changelink" href="{% url 'admin:stages_klass_change' klass.pk %}">&nbsp;</a>{% endif %}
</h2>

<div style="float:right;">
    <a href="{% url 'class' object.pk %}?format=xls"><img src="{% static 'img/xls.png' %}" title="Exportation Excel" width="24"></a>
</div>

<div style="margin-bottom: 0.7em;">
Maître de classe : {{ klass.teacher }}<br>
Enseignant-e ECG : {{ klass.teacher_ecg|default_if_none:'-' }}<br>
Enseignant-e EPS : {{ klass.teacher_eps|default_if_none:'-' }}
</div>

<table>
  <thead>
      <th>Nom, prénom</th>
      <th>Date naiss.</th>
      {% if show_option_ase %}<th>Orientation</th>{% endif %}
      {% if show_pp %}<th>Récapitulatif des PP</th>{% endif %}
      {% if show_employeur %}<th>Employeur</th>{% endif %}
  </thead>
{% for student in students %}
  <tr class="{% cycle 'row1' 'row2' %}">
      <td><a href="{% url 'student-comment' student.pk %}">{{ student }}</a></td>
      <td>{{ student.birth_date }}</td>
      {% if show_option_ase %}
      <td>{{ student.option_ase|default_if_none:'-' }}</td>
      {% endif %}
      {% if show_pp %}
      {% for train in student.training_set.all %}
      <td>{{ train.availability.period }}<br>{{ train.availability.corporation }}<br>
        {% if train.comment %}<div style="float: right;"><img src="{% static 'admin/img/icon-unknown.svg' %}" title="{{ train.comment }}"></div>{% endif %}
        <i>{{ train.availability.domain }}</i></td>
      {% endfor %}
      {% endif %}
      {% if show_employeur %}<td>{{ student.corporation.name }}, {{ student.corporation.city }}</td>{% endif %}
  </tr>
{% endfor %}
</table>
{% endblock %}
