{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}
<h2>Liste des institutions</h2>

<div style="float:right;">
    <a href="{% url 'corporations-export' %}"><img src="{% static 'img/xls.png' %}" title="Exportation Excel" width="24"></a>
</div>

<table>
{% for corp in object_list %}
<tr class="{% cycle 'row1' 'row2' %}">
  <td><a href="{% url 'corporation' corp.pk %}">{{ corp.name }}</a></td><td>{{ corp.pcode }} {{ corp.city }}</td></tr>
{% endfor %}
</table>
{% endblock %}
