{% load static %}
<div id="previous_stages">
  <div id="previous_stages_head">
    <em><img src="{% static 'img/closed.png' %}" data-imgtoggle="{% static 'img/open.png' %}"> Pratiques professionnelles précédentes ({{ previous_stages|length }}) :</em>
  </div>
  <ul id="previous_stages_list">
  {% for stage in previous_stages %}
    <li>{{ stage.availability.period.dates }}: {{ stage.availability.corporation }} ({{ stage.availability.corporation.city }})</li>
  {% endfor %}
  </ul>
</div>

<div id="summary">
  {{ object.first_name }} {{ object.last_name }}<br>
  {{ object.pcode }} {{ object.city }}<br>
  Date de naissance: {{ object.birth_date }}
  {% if age_for_stage %}(<span title="Âge au début de la pratique prof." class="{{ age_style }}">{{ age_for_stage }}</span>){% endif %}
</div>
