{% load static %}
{% for obj in trainings %}
<li id="training_{{ obj.id }}">{{ obj.student }} ({{ obj.student.klass }}) - {{ obj.availability.corporation }} - {{ obj.availability.domain }}
    {% if obj.referent %} (réf: {{ obj.referent }}){% else %}- <span class="missing">Pas de référent</span>{% endif %}
    {% if obj.availability.contact %} (cont: {{ obj.availability.contact }}){% else %}- <span class="missing">Pas de contact</span>{% endif %}
    &nbsp;&nbsp;<a class="edit_training" href="{% url 'admin:stages_training_change' obj.id %}"><img src="{% static 'admin/img/icon-changelink.svg' %}"></a>
    <img class="delete_training" src="{% static 'admin/img/icon-deletelink.svg' %}">
</li>
{% endfor %}
